
.flexy {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.white-panel {
    flex-wrap: wrap;
}

.form-input {
    margin-bottom: 0px;
}

.form-button {
    margin-top: 20px;
}

.checkbox_input {
    margin-top: 20px;
    max-width: 150px;
    width: 100%;
    background: darkred;

    color: #f9f9f9;
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    /* display: block; */
}

.checkbox_input:hover {
    background: rgb(236, 48, 20);
}

.panel-wrap {
    background-color: rgba(255,255, 255, 1);
    transition:.3s ease-in-out;
    box-shadow: 0 0 15px 9px #00000096;
    overflow-y: auto;
    padding: 50px;
    flex-wrap: wrap;
}

.users-show {
    max-height: 1200px;
    max-width: 500px;
}

.users-window {
    max-height: 1200px;
    overflow-y: auto;
    margin: 30px;
}

.real_estate_bottom {
    padding: 50px;
    width: 100%;
}


.green_button {
background: darkgreen;
}


.characteristics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.users-show {
    max-height: 1000px;
  }
  
  .users-window {
    max-height: 1000px;
    overflow-y: auto;
  }